.main {
  /* background-color: brown; */
  width: 70%;
  margin: auto;
}

article {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding-bottom: 20px;

  border-radius: 5px;
  box-shadow: 5px 4px 15px gray;
}
article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;

  margin: 0 auto;
}
section {
  padding: 0 15px;
}
section p {
  padding: 5px 15px;
  font-size: 14px;
  margin-top: 20px;
  line-height: 22px;
  color: rgb(88, 88, 88);
}
.rmorebtn {
  border: none;
  outline: none;
  background: none;

  margin: 0 5px;
  font-size: 15px;
  color: blueviolet;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
}
.heading h3,
.heading h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.heading h3 {
  padding: 5px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.heading h4 {
  color: blueviolet;
  padding: 5px 10px;
  background-color: rgb(237, 228, 245);
}

.btn {
  display: block;
  margin: 0 auto;

  width: 40%;
  padding: 5px;

  color: brown;
  border: 1px solid brown;
  border-radius: 3px;
  background: none;
}
.btn:hover {
  color: red;
  border: 1px solid red;
}
