.main {
  /* background-color: brown; */
  width: 60%;
  margin: auto;
}

article {
  background-color: white;
  width: 90%;
  margin: 20px auto;
  padding-bottom: 20px;

  border-radius: 5px;
  box-shadow: 5px 4px 15px gray;
}
article img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;

  margin: 0 auto;
}
section {
  padding: 0 15px;
}
section p {
  padding: 0 5px;
  font-size: 15px;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.heading h3,
.heading h4 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.heading h4 {
  color: blueviolet;
}

button {
  display: block;
  margin: 0 auto;

  width: 40%;
  padding: 5px;

  color: brown;
  border: 1px solid brown;
  border-radius: 3px;
  background: none;
}
button:hover {
  color: red;
  border: 1px solid red;
}
